*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8e44ad;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    margin: 30px 50px;
    padding: 20px 40px;
}
.container i{
    text-align: center;
}
.container .counterTwitter,
.counterFacebook,
.counterYouTube{
    width: 150px;
    font-size: 60px;
    margin-top: 10px;
    text-align: center;
}
.container span{
    text-align: center;
}