*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
}
h2{
    text-align: center;
    color: rgb(9, 216, 9);
    font-size: 40px;
    text-shadow: 0 1.5px 2px rgb(156, 161, 156);
}
.container{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 10px 10vw;
}
.card{
    width: 150px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    border-radius: 10px;
    background-color: rgb(80, 92, 3);
    box-shadow: 0 0 0 5px #b6abab;
}
.card img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px 0;
}
.card .id{
    background-color: rgba(0, 0, 0, 0.079);
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
}
.card .name{
    margin-bottom: 5px;
    font-weight: 800;
}
.card .type{
    margin-bottom: 5px;
}